body {
    font-family: "Roboto", sans-serif;
    color: black;
    margin:0;
    background:cover;
    background: url('https://jaggersofia.github.io/Quiz-App/Images/tardis-in-space.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #262626;
  }
  
  header {
    margin-top: 25px;
    height:80px;
    color: white;
    margin-bottom: 55px;
  }
  
  .row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  
  header h1 {
    line-height: 1;
    top:25px;
    text-align: center;
  }
  
  header .question-and-score {
    font-size: 25px;
    font-weight: 600px;
    color:white;
    background: none;
  }
  
  .question-and-score ul {
    text-align:center;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .question-and-score li {
    display: inline-block;
    padding:0 2%;
  }
  
  button {
    margin-top:10px;
    height: auto;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color:white;
    background: #2A34FF;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    border-radius:3px;
    padding: 10px 20px;
  }
  
  fieldset {
    width: 75%;
    padding: 40px;
    margin: 0 auto;
    background:rgba(255, 255, 255, 0.8);
    border-radius: 10px;
  }
  
  legend {
    font-weight: 700;
    font-size: 20px;
  }
  
  .question-form .question {
    margin-bottom: 20px;
    padding: 0 2%;
    font-size: 20px;
    font-weight: 600px;
  }
  
  .options ul {
    list-style: none;
    margin: 0;
    text-align: left;
  }
  
  label {
    font-size:18px;
  }
  
  .options span {
    display:block;
    border-radius:5px;
  }
  
  .right-answer {
   background:ivory;
   padding: 10px 20px;
   margin: 5px 20px;
   border:2px solid greenyellow;
  }
  
  .wrong-answer {
    background:ivory;
    padding: 10px;
    margin: 5px 20px;
    border:2px solid #fe0000;
  }
  
  .question-form button {
    float:right;
  }
  
  button:hover:enabled,
  button:focus:enabled{
    background-color: #ff8d00;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
  }
  
  button:disabled {
    opacity:0.5;
  }
